@font-face {
    font-family: 'Dogica Pixel';
    src: url('resources/fonts/dogicapixel.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Dogica Pixel';
    src: url('resources/fonts/dogicapixelbold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}




* {
    box-sizing: inherit;
    font-family: "Sanchez";
}

html {
    box-sizing: border-box;
}

body {
    min-width: 500px;
    margin: 0;
}

h1 {
    margin: 0;
}

ul {
    padding-inline-start: 1rem;
}

.projects pre {
    display: inline;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 44rem;
    padding: 2.6rem 1.2rem;
}

.header {
    display: grid;
    grid-template-columns: 120px auto;
    grid-gap: 1rem;
    font-family: Sanchez;
}

.pic {
    width: 120px;
    border-radius: 50%;
}

.nicar23 {
    background-color: #fff3cd;
    border: 1px solid #ffecb5;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    font-family: Sanchez;
}

.nicar23 ul {
    padding-inline-start: 0;
}

.projects {
    font-family: Sanchez;
}




@media only screen and (max-width: 600px) {
    .header {
        grid-template-columns: auto;
        text-align: center;
    }

    .pic {
        width: 150px;
    }
}